body
  font-size 15px

.content code
  color #e96900
  background-color #f8f8f8

table 
  display table
  width 100%

div[class*="language-"]
  border-radius 0

a.header-anchor
  opacity 0.5
  text-decoration none

